<div class="dash-home">
  <div class="container padded">

    <%= render 'tab', active: "proofs" %>

    <div class="row text-center padded">
      <div class="col-xs-12 ">
      <%= link_to "télécharger PDF", "#", class: "navbar-wagon-button btn" %>
      <%= link_to "partager email", "#", class: "navbar-wagon-button btn" %>
      </div>
    </div>

    <div class="row">
      <p>WIP</p>
    </div>

  </div>
</div>
