
<div class="container padded">

  <%= render 'tab', active: "proofs" %>

  <div class="row text-center padded">
    <div class="col-xs-12 ">
    <%= link_to "télécharger PDF", "#", class: "btn btn-primary" %>
    <%= link_to "partager email", "#", class: "btn btn-primary" %>
    </div>
  </div>

  <div class="row">
    <p>WIP</p>
  </div>

</div>
