<div class="text-center">
<h3><%= "#{@user.candidates.first.firstname} #{@user.candidates.first.lastname}" %></h3>
<p>Vous partage son dossier de location</p>
 <%= link_to '<i class="fa fa-cloud-download"></i> Télécharger en PDF'.html_safe, dashboard_pdf_guest_path(:format => :pdf), target: "_blank", class: "navbar-wagon-button btn" %>
</div>

<div class="container">
  <div class="row">
    <%= render 'dashboard/dossier', display: "full" %>
  </div>
</div>
