<%= @user.email %>
<% raise %>

<div class="third">
  <div data-backdrop="static" class="modal show" id="signUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
          <!--  <span aria-hidden="true">&times;</span> -->
          <!-- </button> -->
          <div class="row">
            <div class="col-xs-12 col-md-8">
              <h4 class="modal-title" id="myModalLabel">Génial !</h4>
              <p>Voici le dossier que vous a envoyé la personne ouhouh</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
