.round-form {
  border-radius: 15px !important;
  width: 40%;
  margin: auto;
  margin-bottom: 10px;
}

.custom-btn {
  background-color: $color5;
  border-radius: 15px;
  border-color: $color4;
  color: white;
  text-decoration: none;
  &:hover {
    background-color: $color6;
    color: $color5;
    border-color: $color1;
    text-decoration: none;
  }
  &:active {
    color: white;
  }
  a{
    color: white ;
    &:hover {
      text-decoration: none;
    }
  &:active {
    color: white;
  }
  }
}

#candidate_birthdate {
  text-align: right;
}

.formulaires {
  width: 40%;
  margin: auto;
}
