.page_content {
  width: 100%;
  background-color: white;
  min-height: 500px;
  border-radius: 15px;
  margin-top:50px;
  padding:50px;
  h4 {
    background-color: #F9E074;
  }
}

#download_button {
  height:150px;
  width:150px;
  position: fixed;
  right: 5vw;
  top: 50%;
  margin-top: -75px;
  h3, a {
    color: $color4;
  }
  i {
    font-size: 60pt;
  }
  a:hover, a:active, a:visited {
    text-decoration: none;
  }
}
