.document {

  margin:auto;
  margin-top: 5vh;
  width: 800px;
  overflow: hidden;
  background-color: white;
  border-radius: 2px;
  border:1px dotted lightgrey;
  z-index:0;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  padding:10px;
  position: relative;
  h3 {
    z-index:0;
  }
  h4 {
    z-index:0;
  }
  p {
    margin-bottom: 2px !important;
  }
}

.dossier_logo {
  width: 10%;
  margin: auto;
  display: block;
}

.dossier_candidates {
  font-family: Open Sans;

}

.revenue {
  text-align: center;
  background-color: $color1;
}

.separator {
  background-color: $color6;
  text-align: center;
}

.dossier_bio {
  text-align: justify;
  text-justify: inter-word;
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

.biopic {
  position: absolute;
  top: 5%;
  right: 5%;
}
