<div class="footer">
  <div class="container">
    <div class="row">
      <ul class="list-inline">
        <li>a</li>
        <li>b</li>
        <li>c</li>
        <li>d</li>
      </ul>
    </div>
  </div>
</div>
