<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <ul class="footer-list" data-title="Á propos" >
          <a href=""><li>Edoss vous simplifie la vie</li></a>
          <a href=""><li>Tous Droits Réservés © 2015</li></a>
          <a href=""><li><i class="fa fa-globe"></i> Français - English</li></a>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="footer-list" data-title="En voiture Simone :)">
          <a href=""><li>Nos services</li></a>
          <a href=""><li>Presse</li></a>
          <a href=""><li>Conditions Générales d'utilisation</li></a>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="footer-list" data-title="Besoin d'aide ?">
          <a href=""><li>Nous serons heuruex de vous aider</li></a>
          <a href=""><li>nous contacter</li></a>
          <a href="mailto:help@edoss.fr"><li>help@edoss.fr</li></a>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="footer-list" data-title="Suivez-nous... VITE">
          <ul class='sharing'>
            <a href=""><li><i class="fa fa-facebook"></i></li></a>
            <a href=""><li><i class="fa fa-instagram"></i></li></a>
            <a href=""><li><i class="fa fa-linkedin"></i></li></a>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</div>

