<div class="footer">
  <div class="container">
    <ul class="list-inline">
      <li></li>
      <li><i class="fa fa-linkedin"></i></li>
      <li><i class="fa fa-facebook"></i></li>
      <li><i class="fa fa-instagram"></i></li>
    </ul>
  </div>
</div>

