<div class="div-home">
  <div class="filter"></div>
  <div class="container home-container text-center">
    <div class="row">
      <div class="col-xs-12">
        <h1> Bienvenue sur Edoss! </h1>
        <h4>Ton dossier de location en ligne</h4>
      </div>
    </div>
  </div>
</div>
<div class="second">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-justify">Une fois votre inscription terminée, vous envoyez via votre espace Edoss les justificatifs demandés sur la plateforme Edoss.
      L’ensemble des justificatifs demandés par Edoss constituera votre dossier de location universel.
      Vous pouvez aussi nous transmettre vos documents par courrier postal ou par email, nous les mettrons pour vous dans votre espace !</h3>
    </div>
  </div>
</div>
</div>
<div class="third">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= render 'steps/init' %>
      </div>
    </div>
  </div>
</div>
