<div class="third">
  <div class="container">
    <div class="row" style="margin-top:-150px; margin-left:120px;">
      <div class="col-xs-12 col-md-6" style="text-align:justify">
        <h3><strong>Félicitations!</strong></h3>
        <p>La première partie de votre dossier de location est déjà prête !</p>
        <p>Une fois votre dossier complet, vous pourrez l'imprimer et l'envoyer aux propriétaires de logement correspondant à vos critères. Plus que quelques étapes à compléter pour avoir un dossier digne de ce nom !</p>
        <div type="submit" name="commit" class="btn custom-btn" style="margin-left:100px; padding-left:100px; padding-right:100px;">
          <%= link_to "Continuer !", step_path('3-1') %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="land">
          <%= image_tag "growing.png", style:"width:400px;", class: "landing_img" %>
        </div>
      </div>
    </div>
  </div>
    <div class="container padded">
      <div class="row" style="margin-top:-200px;">
        <%= render "dashboard/dossier", display: "step3" %>
      </div>
    </div>
</div>

