.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $color3;
  transition: all 0.3s ease;
  &.is-hidden {
    display: none
  }
  &-fixed {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;;
  }
  &-container {
    display: flex;
    height: 70px;
    align-items: center;
  }
  &-pusher {
    flex: 1 1 auto;
  }
  &-item {
    flex: 0 1 auto;
    cursor: pointer;
    padding: 0 10px;
    color: $color3;
  }
  &-search {
    flex: 0 1 300px;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    position: absolute;
    &-btn {
      line-height: 40px;
      color: $color3;
      border: none;
      text-decoration: none;
      background: transparent;
      position: absolute;
      right: 14px;
      top: -2px;
      z-index: 4;
    }
    &-input {
      flex: 0 1 300px;
      transition: all 0.15s ease;
      line-height: 40px;
      font-weight: lighter;
      color: #666666;
      border: 1px solid #E6E6E6;
      border-radius: 5px;
      padding: 0 10px;
      font-size: 14px;
      outline: none;
    }
    &-input:focus  {
      border: 1px solid #CCCCCC;
    }
  }
  &-link {
    color: #616668;
    font-size: 14px;
    &:hover {
      color: #da552f;
      text-decoration: none;
    }
  }
  &-button {
    margin-left: 10px;
    padding: 0 20px;
    border-radius: 20em;
    line-height: 40px;
    background-color: $color5;
    color: $color1;
    font-size: 14px;
    border: 2px $color4;
    &:hover {
      color: white;
      background: $color4;
    }
    &:visited {
      color: white;
    }
    &:active {
      color: white;
    }
  }
  &-dropdown-menu {
    margin-top: 15px;
    box-shadow: 1px 1px 4px #E6E6E6;
    border-color: #E6E6E6;
    li > a {
      transition: color 0.3s ease;
      font-weight: lighter !important;
      color: $color4 !important;
      font-size: 15px !important;
      line-height: 22px !important;
      padding: 10px 20px;
      &:hover {
        background: transparent !important;
        color: $color6 !important;
      }
      &:active {
        color: white;
      }
    }
    &:before {
      content: ' ';
      height: 10px;
      width: 10px;
      position: absolute;
      right: 10px;
      top: -6px;
      background-color: transparent;
      transform: rotate(45deg);
      // border-left: 1px solid #E6E6E6;
      // border-top: 1px solid #E6E6E6;
    }
  }

  // hr {
  //   height: 12px;
  //   width: 1px;
  //   background-color: transparent;
  //   margin-left: 10px;
  //   margin-right: 10px;
  // }
}
#navbar-logo img {
    width: 20%;
  }
.navbar-wagon-button {
  background-color: $color3;
}
.dropdown > .avatar {
  border: 1.5px solid #FFE449;
}
.navbar-tab {
  padding-right: 220px;
}
