<% @steps = YAML.load_file(Rails.root + 'config/steps.yml') %>
<% @step = @steps[page] %>


<!-- <p><%# @step['intro'] %></p> -->
<div class="third text-center" id="start">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <%= render 'steps/form' %></h2>
      </div>
      <div class="col-xs-12 col-md-6 land">
        <%= render 'shared/map'%>
      </div>
    </div>
  </div>
</div>
