.card {
  flex: 0 0 25%;
  position: relative;
  display: flex;
  align-items: center;
  background: $gray-lighter;
  height: 200px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.card-partage {
  flex: 0 0 25%;
  position: relative;
  display: flex;
  align-items: center;
  background: $gray-lighter;
  height: 200px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  background-image: image-url("city_y_g.png");
  background-size: 113%;
  background-repeat: no-repeat;
  background-position: center;
  color: $color4;
}

.card-controls {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.card-views {
  position: absolute;
  top: 20px;
  right: 20px;
}

.card-content {
  h4 {
    font-weight: bold;
  }
  .card-sent-to {
    font-weight: lighter;
    color: #818181;
    span {
      font-weight: bold;
    }
  }
}

.card-picture {
  position: absolute;
}

.card-candidate {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
  h5 {
    color: $color5;
  }
  p {
    color: $color4;
  }
}
